<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="{{ url_for('static', filename='soundsStyles.css') }}">
    <script src="{{ url_for('static', filename='soundFunctions.js') }}"></script>
    <title>Max's Vowels</title>
</head>

<body onload="reset()">

    <h1>Letter Sounds</h1>
    <div id="playdiv">
        <button id = "play" onclick="playSound()">PLAY</button>
        <div id="pointsdiv">
            <h3>Points:&nbsp;&nbsp;</h3>
            <h3 id ='points'>0</h3>
        </div>
        <button id = "instructions" onclick="playInstructions()">?</button>
    </div>
    <div id='content'>
        <div id="cardholder">
            <button id="button1" class = "card" onclick="playName(this)"></button>
            <button id="button2" class = "card" onclick="playName(this)"></button>
            <button id="button3" class = "card" onclick="playName(this)"></button>
        </div>
    </div>
    

</body>

</html>